@charset "UTF-8";
/*色の指定*/
/*https://developer.apple.com/design/human-interface-guidelines/foundations/color/*/
:root {
	--white: rgb(256,256,256);
	--white1: rgb(142,142,147);
	--white2: rgb(174,174,178);
	--white3: rgb(199,199,204);
	--white4: rgb(209,209,214);
	--white5: rgb(229,229,234);
	--white6: rgb(242,242,247);
	--black: rgb(0,0,0);
	--black1: rgb(28,28,30);
	--black2: rgb(44,44,46);
	--black3: rgb(58,58,60);
	--black4: rgb(72,72,74);
	--black5: rgb(99,99,102);
	--black6: rgb(142,142,147);
	--red: rgb(255,59,48);
	--orange: rgb(255,149,0);
	--yellow: rgb(255,204,0);
	--green: rgb(52,199,89);
	--mint: rgb(0,199,190);
	--teal: rgb(48, 186, 199);
	--cyan: rgb(50,173,230);
	--blue: rgb(0,122,255);
	--indigo: rgb(88,86,214);
	--purple: rgb(175,82,222);
	--pink: rgb(255,45,85);
	--brown: rgb(162,132,94);
	--shere-button-size: 2em;
	--content-width: 85vw;
	
	--scara-1: #3B5EB8;
	--scara-2: #7AB7D4;
}
@media (prefers-color-scheme: dark) {
	:root {
	--white: rgb(0,0,0);
	--white1: rgb(142,142,147);
	--white2: rgb(99,99,102);
	--white3: rgb(72,72,74);
	--white4: rgb(58,58,60);
	--white5: rgb(44,44,46);
	--white6: rgb(28,28,30);
	--black: rgb(256,256,256);
	--black1: rgb(242,242,247);
	--black2: rgb(229,229,234);
	--black3: rgb(209,209,214);
	--black4: rgb(199,199,204);
	--black5: rgb(174,174,178);
	--black6: rgb(142,142,147);
	--red: rgb(255,69,58);
	--orange: rgb(255,159,10);
	--yellow: rgb(255,214,10);
	--green: rgb(48,209,88);
	--mint: rgb(102,212,207);
	--teal: rgb(64, 200, 224);
	--cyan: rgb(100,210,255);
	--blue: rgb(10,132,255);
	--indigo: rgb(94,92,230);
	--purple: rgb(191,90,242);
	--pink: rgb(255,55,95);
	--brown: rgb(172,142,104);
	
	--scara-1: #DB2517;
	--scara-2: #DB2517;
}
}
@media screen and (max-width: 680px) {
	:root {
		--content-width: 95vw;
	}
}

table .icon-button {
	font-size: 1.5em;
}
table .fa-bilibili {
	color:#ee7198;
}
table .fa-weibo {
	color: var(--red);
	font-size: 1.05em;
}
table .fa-twitter {
	color: #00ACEE;
}
table .fa-youtube {
	color: #FF0000;
}
table .fa-link {
	color: var(--blue);
	font-size: 0.9em;
}
.table fa-instagram {
	color: var(--blue);
	font-size: 1.1em;
}

/*フォント設定*/
@font-face {
  font-family: 'InazumaFont';
  src: url('https://giarchive.github.io/GenshinFonts/GenshinInazuma-Regular.ttf') format('truetype');
}

body,header {
	margin: 0;
	padding: 0;
}
/*メインコンテンツ*/
html{
	height: -webkit-fill-available;
}
body, body {
	width: var(--content-width);
}
body {
    color: var(--black1);
	background: var(--white);
	background-attachment: fixed;
    font-family: 游ゴシック, YuGothic, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    position: relative;
	margin-left: 7.5vw;
	margin-right: 7.5vw;
	min-height: 100vh;
	min-height: -webkit-fill-available;
	overflow-wrap: break-word;
}
body div:not(.not-margin-div),.top-text,.share-nav,.nav .nav_hidden,body cite,twitter-trend-tag {
	margin-left: 2.5vw;
	margin-right: 2.5vw;
}
.printonry {
	display: none;
}
@media screen and (max-width: 680px) {
    body {
        font-size: 1rem;
		margin-left: 2.5vw;
		margin-right: 2.5vw;
	}
	body {
		width: 100%;
		margin-left: 0px;
		margin-right: 0px;
	}
}
@media screen and (max-width: 680px) and (orientation: landscape) {
	body {
		margin-left: env(safe-area-inset-left);
		margin-right: env(safe-area-inset-right);
	}
}
/*読み上げ用*/
@media speech {
	.notspeech {
		display: none;
	}
}
/* リセットCSS */
input{
    -webkit-appearance: none;
}
body h2, body h3, body h4, body h5, body h6, blockquote,nav,img,table,th,td,tbody,iframe,cite,video {
	margin: 0;
	padding: 0;
}
button, input[type="button"] {
	background-color: transparent;
	border: none;
	cursor: pointer;
	outline: none;
	padding: 0;
	appearance: none;
	font-size: 1em;
	color: none;
}
cite {
	margin: 1rem;
}
audio {
	width: 100%;
	margin: 0px!important;
	padding: 0px!important;
}

/* テキスト */
body a:not(.not-linkhighright), aside a:not(.black) {
	color: var(--blue);
	text-decoration: none;
}
header a {
	color: var(--black);
	text-decoration: none;
}
body .event-time {
	color: var(--cyan);
}
body .info-scaramouche-name {
	font-weight: bold;
}
body .info-kunikuzushi-name {
	font-weight: bold;
}
body .ru {
	font-family: -apple-system, Arial, Helvetica, Gothic, sans-serif;
}
body .mark {
	color: var(--red);
}
body .open {
	color: var(--orange);
	font-weight: bold;
}
article .black {
	color: var(--black);
}
body .black {
	color: black;
}
body .white {
	color: white;
}
body .inazumafont {
	font-family: 'InazumaFont', sans-serif;
}
/*ガチャカウンター*/
.day-gacha {
	padding: 2em;
	font-weight: bold;
	font-size: large;
}
/*メニュー*/
#menu {	
height: 100%;
	width: 350px;
position: fixed;
    top: 0;
    right:0;
    visibility: hidden;
    transition: all 0.5s;
  margin: 0;
  background: var(--white6);
  border-left: solid var(--black);
	z-index: 80; 
}
.menu-cover {
	position: fixed;
	background: rgba(0, 0, 0, .5); 
	width: 100%; 
	height: 100%;
	top: 0;
	left: 0;
	z-index: 70; 
    visibility: hidden;
}
.menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: var(--black);
    position: absolute;
}
.menu-btn span:before {
    bottom: 8px;
}
.menu-btn span:after {
    top: 8px;
}
#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);
}
#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}
#menu-btn-check {
    display: none;
}
#menu-btn-check:checked ~ #menu,#menu-btn-check:checked ~ .menu-cover {
    visibility: visible;
}

/*見出し*/
body h2,nav h2 {
    padding: 0.5vh 2vw;
    background-color: var(--white5);
    color: var(--black1);
    font-weight: bold;
	margin: 2vh 0vw;
}
body h3,nav h3 {
    padding: 0.5vh 1vw;
	border-bottom: solid 2px var(--scara-2);
    font-weight: bold;
    line-height: 1;
	margin: 2vh 0vw;
}
body h4,nav h4 {
    padding: 0.5vh 1vw;
    font-weight: bold;
    line-height: 1.4;
	font-size: 1.2em;
	margin: 2vh 0vw;
}
body h5,nav h5 {
    font-weight: bold;
    line-height: 1.0;
	padding: 0.25vh 1vw;
	font-size: 1.15rem;
}
body h6,nav h6  {
    font-weight: bold;
    line-height: 1.4;
	padding: 0.75vh 1vw;
}
.add-text {
	margin: 0.25em 0vw;
	padding: 0px;
}
@media screen and (max-width: 680px) {
    body h2 {
        padding: 5px 5px 5px 10px;
        font-size: 16px;
        letter-spacing: 1px;
    }
    body h3 {
        font-size: 16px;
        letter-spacing: 0;
    }
    body h4 {
        font-size: 16px;
		line-height: 1.3;
    }
    body h5 {
        font-size: 16px;
    }
    body h6 {
        font-size: 16px;
    }
}

/*ボタン*/
.button,.button:link, .button:visited, .button:hover, .button:active {
	position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: var(--white)!important;
  background: var(--scara-1);/*色*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  font-weight: bold;
  border: solid 2px var(--scara-1);/*線色*/
}
/*フッダー*/
footer a {
	color: var(--yellow);
	text-decoration: none;
}
footer .fa-twitter {
	color: #00ACEE;
	font-size: 1.8em;
}
footer {
	text-align: center;
	padding-bottom: env(safe-area-inset-bottom);
}
/*画像、動画*/
img,video {
	width: 100%;
	margin-bottom: 0.5em;
}
img.card-illustration {
	width: 45%;
	vertical-align: top;
}
.half-image {
	width: 50%;
}
.img-border img {
	border: solid 2px var(--black);
}
@media screen and (max-width: 680px) {
	.half-image {
		width: 100%;
	}
}
/*引用*/
blockquote:not(.twitter-tweet) {
    box-sizing: border-box;
    border: solid 2px var(--black4);
	position: relative;
	z-index: 1;
	margin: 2vh;
}

blockquote p:not(.twitter-tweet) {
    line-height: 1.7;
	margin-left: 5vw;
	margin-right: 5vw;
}
blockquote:has(.blockquote-title ) {
	padding: 25px 10px 7px;
}
blockquote .blockquote-title {
	position: absolute;
    display: inline-block;
    top: -2px;
    left: -2px;
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
    font-size: 17px;
    background: var(--black1);
    color: var(--white);
    font-weight: bold;
}
blockquote .travel-log {
	font-weight: bold;
	color: var(--yellow);
}
@media screen and (max-width: 680px) {
	blockquote {
		margin: 1vh;
	}
	blockquote p {
		margin-left: 4.5vw;
		margin-right: 4.5vw;
	}
}
/*表*/
body table:not(.character-setting-about-name-card table) {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	max-width: var(--content-width);
	margin-bottom: 0.5em;
	white-space: nowrap;
	display: block;
  overflow-x: scroll;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
body table tr {
	white-space: nowrap;
	width: 100%;
}
body th,body td {
	border: solid 1px var(--white1);
	padding: 2px 3px;
	width: 100vw;
	word-wrap: break-word;
}

body th {
	font-style: bold;
	width: 20%;
	padding-left: 10px;
	padding-right: 10px;
	background-color: var(--white6);
}
body td {
	padding-left: 10px;
	padding-right: 10px;
}
@media screen and (max-width: 680px) {
	body table {
	border-spacing: 0;
	width: 100%;
	}
	body th,body td {
		padding: 2px 3px;
	}

	body th {
		padding-left: 10px;
		padding-right: 10px;
	}
	body table th {
		white-space: nowrap;
	}
	body td {
		padding-left: 10px;
		padding-right: 10px;
	}
	.timeline-table th {
		padding-left: 1vw;
		padding-right: 1vw;
	}
}
/*立ち絵*/
.gacha-picture-box {
	display: inline-block;
	vertical-align: top;
	margin: 2vw;
	width: calc(100% - 2vw);
}
.gacha-picture-box .gacha-box-contents {
	margin-left: 0.25vw;
	margin-right: 0.25vw;
	width: calc(50% - 1vw);
	vertical-align: top;
	display: flex;
    justify-content: center;
    align-items: center;
	float:left;
}
.gacha-Illust-text-about {
	padding: 0 1rem;
}
.character-name-gacha-Illust {
	font-size: x-large;
	font-weight: bold;
	padding: 0 1rem;
}
.gacha-picture-box blockquote {
	margin: 0px 1em!important;
	margin-top: 0.5em!important;
}
.gacha-picture-box blockquote p {
	margin: 1.5em!important;
}
@media screen and (max-width: 680px) {
	.gacha-picture-box .gacha-box-contents {
		width: calc(100% - 2vw)!important;
		height: auto;
		vertical-align: top;
		float: bottom;
	}
}
/*Twitter*/
.tweets {
	display: grid;
	width: 100%;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: masonry;
}
.twitter-tweet {
margin: 0.5vw!important;
padding: 0!important;
max-width: calc(100% - 2vw)!important;
align-self: start!important;
}
@media screen and (max-width: 680px) {
	.tweets {
	grid-template-columns: 1fr;
}
}
@media (prefers-color-scheme: light) {
.dark-oney {
  display: none!important;
}
}
@media (prefers-color-scheme: dark) {
.light-oney {
  display: none!important;
}
}
/*YouTube*/
.youtube {
    position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	background-color: transparent;
	margin: 2vh;
}
.youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*楽曲バッジ*/
.music-badge a {
	height: 5vh;
	width: auto;
	display: inline-block;
}
.music-badge img {
	height: 5vh;
	width: auto;
}
/*Apple Music*/
body .applemusic {
	width: 100%;
	height: 175px;
	background:transparent;
	margin: 0.5em 0;
}
/*淘宝*/
.taobao {
	display: flex;
	flex-wrap: wrap;
}
.taobao-content {
	position: relative;
	width: calc(30% - 2vw)!important;
	margin: 1vh 1vw!important;
	border: 1px solid var(--black);
	border-radius:5px;
	overflow: hidden;
}
.taobao-image {
	width: 100%;
	height: 100%;
}
.taobao-text {
	position: absolute;
	 bottom: 0.5rem;
	 right: 0.5rem;
	 margin: 0;
	 font-weight: bold;
}
@media screen and (max-width: 680px) {
	.taobao-content {
	width: calc(100% - 1vw)!important;
	margin: 1vw 1vw!important;
	}
}
/*共有ボタン*/
.share-nav {
	font-size: 1.15rem;
	display: flex;
	padding: 0;
	margin: 0;
}
.btn-social-flat { 
  color: var(--black1);
  display: inline-block;
  height: var(--shere-button-size);
  line-height: var(--shere-button-size);
  text-decoration: none;
  border: 1px solid var(--black1);
  cursor: pointer;
  margin-left: 1.5rem;
}

.btn-social-flat-icon {
  display: inline-block;
  width: var(--shere-button-size);
  height: var(--shere-button-size);
  text-align: center;
  color: white;
}
.btn-social-flat-icon i {
  transition: .3s;
}
.btn-social-flat-text {
  display: inline-block;
  text-align: center;
}

.btn-social-flat-icon--twitter {
  background:#1da1f3;
}
.btn-social-flat-icon--weibo {
  background:#1da1f3;
}
.btn-social-flat-icon--clip {
  background: var(--white1);
}
.btn-social-flat-icon--facebook {
  background:#3b75d4;
}
.btn-social-flat-icon--feedly {
  background:#7ece46;
}
.btn-social-flat-icon--pocket {
  background:#fd7171;
}
.btn-social-flat:hover .btn-social-flat-icon i {
  -webkit-transform: rotateX(360deg);
  transform: rotateX(360deg);
}
@media screen and (max-width: 680px) {
	.btn-social-flat { 
		margin-left: 2.5vw;
	}
}
/*立ち絵*/
.picture-box {
	display: inline-block;
	vertical-align: top;
}
.picture-box img {
	width: calc(49%)!important;
	height: auto;
	vertical-align: top;
}
@media screen and (max-width: 680px) {
	.picture-box img {
		width: 99%!important;
		height: auto;
		vertical-align: top;
	}
}
/*手紙の位置*/
.hidden_box-rather-aged-notes {
    padding: 0;
}

.hidden_box-rather-aged-notes label {
    padding: 15px;
    font-weight: bold;
    cursor :pointer;
}

.hidden_box-rather-aged-notes input {
    display: none;
}

.hidden_box-rather-aged-notes .hidden_show-rather-aged-notes {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.2s;
}

.hidden_box-rather-aged-notes input:checked ~ .hidden_show-rather-aged-notes {
    padding: 10px 0;
    height: auto;
    opacity: 1;
}

footer {
  border-top: 1px var(--scara-2) solid;
}