@charset "UTF-8";
/*色の指定*/
/*https://developer.apple.com/design/human-interface-guidelines/foundations/color/*/
:root {
	--white: rgb(256,256,256);
	--white1: rgb(142,142,147);
	--white2: rgb(174,174,178);
	--white3: rgb(199,199,204);
	--white4: rgb(209,209,214);
	--white5: rgb(229,229,234);
	--white6: rgb(242,242,247);
	--black: rgb(0,0,0);
	--black1: rgb(28,28,30);
	--black2: rgb(44,44,46);
	--black3: rgb(58,58,60);
	--black4: rgb(72,72,74);
	--black5: rgb(99,99,102);
	--black6: rgb(142,142,147);
	--red: rgb(255,59,48);
	--orange: rgb(255,149,0);
	--yellow: rgb(255,204,0);
	--green: rgb(52,199,89);
	--mint: rgb(0,199,190);
	--teal: rgb(48, 186, 199);
	--cyan: rgb(50,173,230);
	--blue: rgb(0,122,255);
	--indigo: rgb(88,86,214);
	--purple: rgb(175,82,222);
	--pink: rgb(255,45,85);
	--brown: rgb(162,132,94);
	--shere-button-size: 2em;
	--content-width: 85vw;
	
	--scara-1: #3B5EB8;
	--scara-2: #7AB7D4;
}
@media (prefers-color-scheme: dark) {
	:root {
	--white: rgb(0,0,0);
	--white1: rgb(142,142,147);
	--white2: rgb(99,99,102);
	--white3: rgb(72,72,74);
	--white4: rgb(58,58,60);
	--white5: rgb(44,44,46);
	--white6: rgb(28,28,30);
	--black: rgb(256,256,256);
	--black1: rgb(242,242,247);
	--black2: rgb(229,229,234);
	--black3: rgb(209,209,214);
	--black4: rgb(199,199,204);
	--black5: rgb(174,174,178);
	--black6: rgb(142,142,147);
	--red: rgb(255,69,58);
	--orange: rgb(255,159,10);
	--yellow: rgb(255,214,10);
	--green: rgb(48,209,88);
	--mint: rgb(102,212,207);
	--teal: rgb(64, 200, 224);
	--cyan: rgb(100,210,255);
	--blue: rgb(10,132,255);
	--indigo: rgb(94,92,230);
	--purple: rgb(191,90,242);
	--pink: rgb(255,55,95);
	--brown: rgb(172,142,104);
	
	--scara-1: #DB2517;
	--scara-2: #DB2517;
}
}
@media screen and (max-width: 680px) {
	:root {
		--content-width: 95vw;
	}
}

table .icon-button {
	font-size: 1.5em;
}
table .fa-bilibili {
	color:#ee7198;
}
table .fa-weibo {
	color: var(--red);
	font-size: 1.05em;
}
table .fa-twitter {
	color: #00ACEE;
}
table .fa-youtube {
	color: #FF0000;
}
table .fa-link {
	color: var(--blue);
	font-size: 0.9em;
}
.table fa-instagram {
	color: var(--blue);
	font-size: 1.1em;
}

/*フォント設定*/
@font-face {
  font-family: 'InazumaFont';
  src: url('https://giarchive.github.io/GenshinFonts/GenshinInazuma-Regular.ttf') format('truetype');
}

body,header {
	margin: 0;
	padding: 0;
}
/*メインコンテンツ*/
html{
	height: -webkit-fill-available;
}
body, main {
	width: var(--content-width);
}
body {
    color: var(--black1);
	background: var(--white);
	background-attachment: fixed;
    font-family: 游ゴシック, YuGothic, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    position: relative;
	margin-left: 7.5vw;
	margin-right: 7.5vw;
	min-height: 100vh;
	min-height: -webkit-fill-available;
	overflow-wrap: break-word;
}
main div:not(.not-margin-div),.top-text,.share-nav,.nav .nav_hidden,main cite,twitter-trend-tag {
	margin-left: 2.5vw;
	margin-right: 2.5vw;
}
.printonry {
	display: none;
}
@media screen and (max-width: 680px) {
    body {
        font-size: 1rem;
		margin-left: 2.5vw;
		margin-right: 2.5vw;
	}
	main {
		width: 100%;
		margin-left: 0px;
		margin-right: 0px;
	}
}
@media screen and (max-width: 680px) and (orientation: landscape) {
	body {
		margin-left: env(safe-area-inset-left);
		margin-right: env(safe-area-inset-right);
	}
}
/*読み上げ用*/
@media speech {
	.notspeech {
		display: none;
	}
}
/* リセットCSS */
input{
    -webkit-appearance: none;
}
main h2, main h3, main h4, main h5, main h6, blockquote,nav,img,table,th,td,tbody,iframe,cite,video {
	margin: 0;
	padding: 0;
}
button, input[type="button"] {
	background-color: transparent;
	border: none;
	cursor: pointer;
	outline: none;
	padding: 0;
	appearance: none;
	font-size: 1em;
	color: none;
}
cite {
	margin: 1rem;
}
audio {
	width: 100%;
	margin: 0px!important;
	padding: 0px!important;
}

/* テキスト */
main .event-time {
	color: var(--cyan);
}
main .info-scaramouche-name {
	font-weight: bold;
}
main .info-kunikuzushi-name {
	font-weight: bold;
}
main .ru {
	font-family: -apple-system, Arial, Helvetica, Gothic, sans-serif;
}
main .mark {
	color: var(--red);
}
main .open {
	color: var(--orange);
	font-weight: bold;
}
main a:not(.not-linkhighright), aside a:not(.black) {
	color: var(--blue);
	text-decoration: none;
}
article .black {
	color: var(--black);
}
main .black {
	color: black;
}
main .white {
	color: white;
}
main .inazumafont {
	font-family: 'InazumaFont', sans-serif;
}
/*ガチャカウンター*/
.day-gacha {
	padding: 2em;
	font-weight: bold;
	font-size: large;
}
/*メニュー*/
@keyframes hideop {
  0% {
    opacity: 0;
    display:none;
  }

  100% {
	opacity: 1;
    display: inline-block;
  }
}
.drawer_hidden {
  display: none;
}
.menu { 
	padding-bottom: env(safe-area-inset-bottom);
	margin-bottom: 2.5vh;
}
.menu-title a,.menu-title a:link,.menu-title a:visited, .menu-title a:hover, .menu-title a:active {
	font-size: xx-large;
	color: var(--black1);
	font-weight: bold;
	text-decoration: none;
}

/*メニュー読み込み中*/
.sp-circle {
  border: 4px rgba(red,0.25) solid;
  border-top: 4px rgba(red,1) solid;
  border-radius: 50%;
  -webkit-animation: spCircRot .6s infinite linear;
  animation: spCircRot .6s infinite linear;
}
@-webkit-keyframes spCircRot {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(359deg); }
}
@keyframes spCircRot {
  from { transform: rotate(0deg); }
  to { transform: rotate(359deg); }
}

/* ハンバーガーアイコンの設置スペース */
.drawer_open {
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 2.5vh;
  right: 2vw;
  z-index: 100;
  cursor: pointer;
  position: fixed;
}

/* ハンバーガーメニューのアイコン */
.drawer_open span,
.drawer_open span:before,
.drawer_open span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: var(--black2);
  transition: 0.5s;
  position: absolute;
}
.drawer_open span:before {
  bottom: 8px;
}
.drawer_open span:after {
  top: 8px;
}
#drawer_input:checked ~ .drawer_open span {
  background: rgba(255, 255, 255, 0);
}
#drawer_input:checked ~ .drawer_open span::before {
  bottom: 0;
  transform: rotate(45deg);
  transition: all .3s linear;
}

#drawer_input:checked ~ .drawer_open span::after {
  top: 0;
  transform: rotate(-45deg);
  transition: all .3s linear;
}
.nav_content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 98;
  opacity: 0;
} 
.nav_content .nav_content_main {
  width: 40%;
  height: 100%;
  display: inline-block;
  overflow-y: scroll;
	background-attachment: fixed;
	background: var(--white6);
}
.nav_contrnt_cover {
	background-color: black;
	opacity: 0.5;
	 display: inline-block;
	height: 100%;
	width: 60%;
	  position: fixed;
	  top: 0;
}

#drawer_input:checked ~ .nav_content,#drawer_input:checked ~ .nav_title {
	right: 0;
	animation: hideop 0.25s linear 0s;
	animation-fill-mode: forwards;
}
@media screen and (max-width: 680px) {
	header {
		position: fixed;
		top: 0;
		left: 0;
		margin: 0;
		padding: 0;
		width: 100%;
		background-color: var(--white6);
		height: 10vh;
		z-index: 50;
	}
	.nav_content .nav_content_main {
		width: 100%;
	}
	.nav_contrnt_cover {
		width: 0%;
		}
	header .title,header .title a:visited {
		font-size: 1.25em;
		position: fixed;
		top: 0;
  		margin-left: 0.5em;
    color: var(--black1);
	}
	.drawer_open {
		position: fixed;
  top: 0;
}
	article {
		padding-top: 10vh;
	}
	.top-nav {
		display: none;
	}
}
/*メニュー本体*/
.top-nav {
	margin-top: 5vh;
}
.nav .nav_hidden {
  margin-left: 2.5vw;
  min-height: auto;
}

ul.list,
ul.list ul {
  margin:0;
  padding:0;
  list-style-type: none;
}

ul.list ul {
  position:relative;
  margin-left:10px;     
}

ul.list ul:before {
  content:"";
  display:block;
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  width:0;
  border-left:1px solid var(--black);
}

ul.list li  {
  position:relative;
  margin:0;
  padding:3px 12px;
  color:var(--black);
  text-decoration: none;

  font-weight:normal;
  line-height:20px;   
}

ul.list li a { 
  position:relative;
  color:var(--black);
  text-decoration: none;
  font-weight:bold;
  line-height:20px;
  font-size:1.15rem;
}
ul.list ul li a {
	margin-left: 20px;
	font-weight: normal;
}
ul.list ul li:before {
  content:"";
  display:block;
  position:absolute;
  top:0.75em;
  left: 0;
  width:32px;
  height:0;
  border-top:1px solid var(--black);
}
ul.list ul li ul li a {
	font-size: 1em;
	margin-left: 20px;
}
.ver-num {
	font-weight: bold;
	margin-right: 0.5em;
} 
@media screen and (max-width: 680px) {
	nav {
		margin: 0.8rem 0px;
		font-size: 1rem;
	}
	.nav .nav_hidden {
		margin: 0vw 2vw;
	}
}
/*メニューボタン*/
.nav-menu label {
    font-weight: bold;
    cursor :pointer;
	display:flex;
	flex-direction: row;
}

/*チェックは見えなくする*/
.nav-menu input#nav_box {
    display: none;
}

/*中身を表示にしておく*/
.nav-menu .nav_hidden {
    height: auto;
    opacity: 1;
}
.nav-menu h3 {
    margin: 0vh!important;
	padding: 0vw!important;
	width: 100%;
}
.nav-menu .nav_label_text {
	padding: 0vh 1vw;
}
.nav-menu i {
	font-size: 1.25em;
	float: right;
	margin: 0vw;
	padding: 0vw;
	padding-bottom: 0.3rem;
}
.nav-menu .nav_hidden {
	padding: 10px 0;
    height: auto;
    opacity: 1;
}
.nav input:checked ~ .nav_hidden {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
}
/*@media screen and (max-width: 680px) {
	.nav-menu {
		margin-top: 2.5vh;
	}
	.nav-menu .nav_hidden {
    	height: 0;
    	padding: 0;
    	overflow: hidden;
    	opacity: 0;
	}
	.nav-menu input:checked ~ .nav_hidden {
    	height: auto;
    	opacity: 1;
	}
}*/
/*トップ画像のタブ*/
.tab-wrap {
    display: flex;
    flex-wrap: wrap;
}
.tab-label {
	font-weight: bold;
    color: var(--white);
    background: var(--black2);
	border-radius: 4px;
    margin-right: 5px;
    padding: 3px 12px;
    order: -1;
	margin: 0.2rem;
}
.tab-content {
    width: 100%;
    display: none;
	margin: 0.5rem;
}
.tab-switch:checked+.tab-label {
    background: var(--scara-1);
}
.tab-switch:checked+.tab-label+.tab-content {
     display: block;
}
.tab-switch {
    display: none;
}

/*見出し*/
main h2,nav h2 {
    padding: 0.5vh 2vw;
    background-color: var(--white5);
    color: var(--black1);
    font-weight: bold;
	margin: 2vh 0vw;
}
main h3,nav h3 {
    padding: 0.5vh 1vw;
	border-bottom: solid 2px var(--scara-2);
    font-weight: bold;
    line-height: 1;
	margin: 2vh 0vw;
}
main h4,nav h4 {
    padding: 0.5vh 1vw;
    font-weight: bold;
    line-height: 1.4;
	font-size: 1.2em;
	margin: 2vh 0vw;
}
main h5,nav h5 {
    font-weight: bold;
    line-height: 1.0;
	padding: 0.25vh 1vw;
	font-size: 1.15rem;
}
main h6,nav h6  {
    font-weight: bold;
    line-height: 1.4;
	padding: 0.75vh 1vw;
}
.add-text {
	margin: 0.25em 0vw;
	padding: 0px;
}
@media screen and (max-width: 680px) {
    main h2 {
        padding: 5px 5px 5px 10px;
        font-size: 16px;
        letter-spacing: 1px;
    }
    main h3 {
        font-size: 16px;
        letter-spacing: 0;
    }
    main h4 {
        font-size: 16px;
		line-height: 1.3;
    }
    main h5 {
        font-size: 16px;
    }
    main h6 {
        font-size: 16px;
    }
}

/*ボタン*/
.button,.button:link, .button:visited, .button:hover, .button:active {
	position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: var(--white)!important;
  background: var(--scara-1);/*色*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  font-weight: bold;
  border: solid 2px var(--scara-1);/*線色*/
}
/*フッダー*/
footer a {
	color: var(--yellow);
}
footer .fa-twitter {
	color: #00ACEE;
	font-size: 1.8em;
}
footer {
	text-align: center;
	padding-bottom: env(safe-area-inset-bottom);
}
/*画像、動画*/
img,video {
	width: 100%;
	margin-bottom: 0.5em;
}
img.card-illustration {
	width: 45%;
	vertical-align: top;
}
.half-image {
	width: 50%;
}
.img-border img {
	border: solid 2px var(--black);
}
@media screen and (max-width: 680px) {
	.half-image {
		width: 100%;
	}
}
/*引用*/
blockquote:not(.twitter-tweet) {
    box-sizing: border-box;
    border: solid 2px var(--black4);
	position: relative;
	z-index: 1;
	margin: 2vh;
}

blockquote p:not(.twitter-tweet) {
    line-height: 1.7;
	margin-left: 5vw;
	margin-right: 5vw;
}
blockquote:has(.blockquote-title ) {
	padding: 25px 10px 7px;
}
blockquote .blockquote-title {
	position: absolute;
    display: inline-block;
    top: -2px;
    left: -2px;
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
    font-size: 17px;
    background: var(--black1);
    color: var(--white);
    font-weight: bold;
}
blockquote .travel-log {
	font-weight: bold;
	color: var(--yellow);
}
@media screen and (max-width: 680px) {
	blockquote {
		margin: 1vh;
	}
	blockquote p {
		margin-left: 4.5vw;
		margin-right: 4.5vw;
	}
}
/*表*/
main table:not(.character-setting-about-name-card table) {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	max-width: var(--content-width);
	margin-bottom: 0.5em;
	white-space: nowrap;
	display: block;
  overflow-x: scroll;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
main table tr {
	white-space: nowrap;
	width: 100%;
}
main th,main td {
	border: solid 1px var(--white1);
	padding: 2px 3px;
	width: 100vw;
	word-wrap: break-word;
}

main th {
	font-style: bold;
	width: 20%;
	padding-left: 10px;
	padding-right: 10px;
	background-color: var(--white6);
}
main td {
	padding-left: 10px;
	padding-right: 10px;
}
@media screen and (max-width: 680px) {
	main table {
	border-spacing: 0;
	width: 100%;
	}
	main th,main td {
		padding: 2px 3px;
	}

	main th {
		padding-left: 10px;
		padding-right: 10px;
	}
	main table th {
		white-space: nowrap;
	}
	main td {
		padding-left: 10px;
		padding-right: 10px;
	}
	.timeline-table th {
		padding-left: 1vw;
		padding-right: 1vw;
	}
}
/*立ち絵*/
.gacha-picture-box {
	display: inline-block;
	vertical-align: top;
	margin: 2vw;
	width: calc(100% - 2vw);
}
.gacha-picture-box .gacha-box-contents {
	margin-left: 0.25vw;
	margin-right: 0.25vw;
	width: calc(50% - 1vw);
	vertical-align: top;
	display: flex;
    justify-content: center;
    align-items: center;
	float:left;
}
.gacha-Illust-text-about {
	padding: 0 1rem;
}
.character-name-gacha-Illust {
	font-size: x-large;
	font-weight: bold;
	padding: 0 1rem;
}
.gacha-picture-box blockquote {
	margin: 0px 1em!important;
	margin-top: 0.5em!important;
}
.gacha-picture-box blockquote p {
	margin: 1.5em!important;
}
@media screen and (max-width: 680px) {
	.gacha-picture-box .gacha-box-contents {
		width: calc(100% - 2vw)!important;
		height: auto;
		vertical-align: top;
		float: bottom;
	}
}
/*Twitter*/
.tweets {
	display: grid;
	width: 100%;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: masonry;
}
.twitter-tweet {
margin: 0.5vw!important;
padding: 0!important;
max-width: calc(100% - 2vw)!important;
align-self: start!important;
}
@media screen and (max-width: 680px) {
	.tweets {
	grid-template-columns: 1fr;
}
}
@media (prefers-color-scheme: light) {
.dark-oney {
  display: none!important;
}
}
@media (prefers-color-scheme: dark) {
.light-oney {
  display: none!important;
}
}
/*YouTube*/
.youtube {
    position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	background-color: transparent;
	margin: 2vh;
}
.youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*楽曲バッジ*/
.music-badge a {
	height: 5vh;
	width: auto;
	display: inline-block;
}
.music-badge img {
	height: 5vh;
	width: auto;
}
/*Apple Music*/
main .applemusic {
	width: 100%;
	height: 175px;
	background:transparent;
	margin: 0.5em 0;
}
/*淘宝*/
.taobao {
	display: flex;
	flex-wrap: wrap;
}
.taobao-content {
	position: relative;
	width: calc(30% - 2vw)!important;
	margin: 1vh 1vw!important;
	border: 1px solid var(--black);
	border-radius:5px;
	overflow: hidden;
}
.taobao-image {
	width: 100%;
	height: 100%;
}
.taobao-text {
	position: absolute;
	 bottom: 0.5rem;
	 right: 0.5rem;
	 margin: 0;
	 font-weight: bold;
}
@media screen and (max-width: 680px) {
	.taobao-content {
	width: calc(100% - 1vw)!important;
	margin: 1vw 1vw!important;
	}
}
/*共有ボタン*/
.share-nav {
	font-size: 1.15rem;
	display: flex;
	padding: 0;
	margin: 0;
}
.btn-social-flat { 
  color: var(--black1);
  display: inline-block;
  height: var(--shere-button-size);
  line-height: var(--shere-button-size);
  text-decoration: none;
  border: 1px solid var(--black1);
  cursor: pointer;
  margin-left: 1.5rem;
}

.btn-social-flat-icon {
  display: inline-block;
  width: var(--shere-button-size);
  height: var(--shere-button-size);
  text-align: center;
  color: white;
}
.btn-social-flat-icon i {
  transition: .3s;
}
.btn-social-flat-text {
  display: inline-block;
  text-align: center;
}

.btn-social-flat-icon--twitter {
  background:#1da1f3;
}
.btn-social-flat-icon--weibo {
  background:#1da1f3;
}
.btn-social-flat-icon--clip {
  background: var(--white1);
}
.btn-social-flat-icon--facebook {
  background:#3b75d4;
}
.btn-social-flat-icon--feedly {
  background:#7ece46;
}
.btn-social-flat-icon--pocket {
  background:#fd7171;
}
.btn-social-flat:hover .btn-social-flat-icon i {
  -webkit-transform: rotateX(360deg);
  transform: rotateX(360deg);
}
@media screen and (max-width: 680px) {
	.btn-social-flat { 
		margin-left: 2.5vw;
	}
}
/*立ち絵*/
.picture-box {
	display: inline-block;
	vertical-align: top;
}
.picture-box img {
	width: calc(49%)!important;
	height: auto;
	vertical-align: top;
}
@media screen and (max-width: 680px) {
	.picture-box img {
		width: 99%!important;
		height: auto;
		vertical-align: top;
	}
}
/*手紙の位置*/
.hidden_box-rather-aged-notes {
    padding: 0;
}

.hidden_box-rather-aged-notes label {
    padding: 15px;
    font-weight: bold;
    cursor :pointer;
}

.hidden_box-rather-aged-notes input {
    display: none;
}

.hidden_box-rather-aged-notes .hidden_show-rather-aged-notes {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.2s;
}

.hidden_box-rather-aged-notes input:checked ~ .hidden_show-rather-aged-notes {
    padding: 10px 0;
    height: auto;
    opacity: 1;
}
/*Twitterトレンド*/
.twitter-trend {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.twitter-trend-tag {
	background-color: var(--white5);
	padding: 1em 2rem;
	width: calc(45% - 2rem)!important;
	margin: 0.2rem 0.2rem!important;
	display: inline-block;
	 white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media screen and (max-width: 680px) {
	.twitter-trend-tag {
	width: calc(90% - 2vw)!important;
	padding: 1vw 1vw;
	}
}

footer {
  border-top: 1px var(--scara-2) solid;
}